body{
    margin: 0;
    font-size: 14px;
}
.box {
    display: flex;
}
p {
    border: 1px #DDDDDD solid;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
}
.image {
    background-image: url('../image/IMG_0506.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 230px;
    height: 230px;
}